@{
    ViewData["Title"] = "Page d'Home";
}

<div class="text-center">
    <h1 class="display-4">ClinoTag</h1>
    <p>Time is money, and you’ll save both: Say goodbye to time spent rummaging through papers. Digital documents streamline your daily tasks, giving you more time for what truly matters.</p>
</div>
