@model BqsClinoTag.Models.Passage

@{
    ViewData["Title"] = "Modification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Passage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPassage" />
            <div class="form-group">
                <label asp-for="IdLieu" class="control-label"></label>
                <select asp-for="IdLieu" class="form-control" asp-items="ViewBag.IdLieu"></select>
                <span asp-validation-for="IdLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAgent" class="control-label"></label>
                <select asp-for="IdAgent" class="form-control" asp-items="ViewBag.IdAgent"></select>
                <span asp-validation-for="IdAgent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DhDebut" class="control-label"></label>
                <input asp-for="DhDebut" class="form-control" />
                <span asp-validation-for="DhDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DhFin" class="control-label"></label>
                <input asp-for="DhFin" class="form-control" />
                <span asp-validation-for="DhFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
