@model BqsClinoTag.Models.Agent

@{
    ViewData["Title"] = "Création";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Création</h1>

<h4>Agent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" minlength="5" maxlength="5" type="number" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $("#Code").keyup(function() {
        if($("#Code").val().length == 5){
            $.get("/Agents/CodeOk?codeSaisie=" + $("#Code").val(), function (data) {
                if(data == false){
                    $('#hTitreMessage').text("Erreur");
                    $('#pMessage').html("Le code saisie est déjà utilisé.<br>Le code doit être un nombre de longueur 5 (ex: 78901).");
                    $('#ModalMessage').modal("show");
                }
            });
        }        
    });
</script>
