@model BqsClinoTag.Models.Agent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            Code
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            Train Mode
        </dt>
        <dd class="col-sm-10">
            @if (Model.TrainMode == true)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" checked disabled>
                </div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAgent">Modify</a> |
    <a asp-action="Index">Back</a>
</div>
