@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="text-center">
    <h1 class="display-4">ClinoTag</h1>
    <p>La solution des entreprises de nettoyage pour suivre vos clients, vos agents et les prestations effectuées.</p>
</div>
