@using BqsClinoTag.Models

<div class="modal fade" id="TaskModal" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">                
                <div class="list-group">                      
                    @foreach (Tache tache in ViewBag.ListeTache)
                    {
                        <a href="#" class="btnTaskChoisie list-group-item list-group-item-action" data-idTask="@tache.IdTache" >@tache.Nom</a>
                    }
                </div>                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    $(".btnTacheChoisie").click(function(){
        var idTask = $(this).data("idTask");
        var idLieu = $("#idLieu").val();
        $.get("/Lieux/AjoutTaskLieu/" + idLieu + "/" + idTache, function (data) {
            if(data === true){
                location.reload();
            }else{
                $('#hTitreMessage').text("Erreur");
                $('#pMessage').html("Erreur lors de l'ajout de la tâche. Opération annulée");
                $('#ModalMessage').modal("show");
            }
            var modal = $("#TaskModal");
            modal.hide();
        });
    });

</script>